.siteweb_header__container {
  background-color: #1c524f;
  position: relative;

  &.yellow_background {
    background-color: #fad10a ;
    .siteweb_header {
      .siteweb_header__left {
        h1 {
          color: #5a594e;
        }
        p {
          color: unset;
        }
        a {
          p {
            color: white;
            background-color:  #5a594e;

          }
        }
      }
    }

  }
  &.blue_background {
    background-color: #b4cce8  ;
    .siteweb_header {
      .siteweb_header__left {
        h1 {
         color: #1c524f;
        }
        p {
          color: unset;
        }
        a {
          p {
            color: white;
            background-color:  #1c524f;

          }
        }
      }
    }

  }
  &.green_background {
    background-color: #1c524f  ;
    .siteweb_header {
      .siteweb_header__left {
        h1 {
          color: #b4cce8;
        }
        p {
          color: white;
        }
        a {
          p {
            color: unset;
            background-color:  #b4cce8;

          }
        }
      }
    }

  }
  &.black_background__white_title {
    background-color: #222222;
    .siteweb_header {
      .siteweb_header__left {
        h1 {
          color: white;
        }
        p {
          color: white;
          margin-bottom: 2rem;

        }


        a {


          color: white;
          width: fit-content;
          background-color:  black;
          border: unset;
          padding: 1.3rem 3.5rem;
          font-size: 1.1rem;
          transition: opacity 0.3s ease;
          @media (min-width: 720px) and (max-width: 989px) {
            font-size: 1rem;
            line-height: 2.1rem;
            padding: 1.1rem 2.5rem;
          }
          &:hover {
            cursor: pointer;
            opacity: 0.6;
            transition: opacity 0.3s ease;
          }

        }
      }
    }

  }
  &.medtandem_header {
    background-color: #222222;
    padding-bottom: 8rem;
    @media (min-width: 720px) and (max-width: 989px) {
      padding-bottom: 6rem;
    }
    @media (max-width: 719px) {
      padding-bottom: 2rem;
    }
    .siteweb_header {
      justify-content: unset;
      align-items: unset;
      @media (max-width: 719px) {
        justify-content: center;
        padding-top: 7rem;

      }
      .siteweb_header__left {
        h1 {
          color: white;
        }
        p {
          color: white;
          margin-bottom: 2rem;

        }
        .link_div {
          margin-top: 3rem;
          @media (min-width: 960px) and (max-width: 1439px) {
            margin-top: 5rem;

          }
          a {



            width: fit-content;
            background-color:  white;
            border: unset;
            padding: 1.3rem 3.5rem;
            font-size: 1.1rem;
            transition: opacity 0.3s ease;
            @media (min-width: 720px) and (max-width: 989px) {
              font-size: 1rem;
              line-height: 2.1rem;
              padding: 1.1rem 2.5rem;
            }
            &:hover {
              cursor: pointer;
              opacity: 0.6;
              transition: opacity 0.3s ease;
            }

          }
        }



      }
    }

  }
  &.webapp_header {
    .siteweb_header {
      .siteweb_header__right {
        img {
          opacity: 0.8;
        }

      }
    }

  }
  &.developpement_header {
    .siteweb_header {
      .siteweb_header__right {
        img {
          filter: sepia(1);
        }

      }
    }
  }
  &.referencement_header {
    padding-bottom: 5rem;
    .siteweb_header {
      .siteweb_header__right {
        img {
          opacity: 0.8;
        }

      }
    }
  }
  &.conception_header {
    .siteweb_header {
      .siteweb_header__right {
        img {
          filter: sepia(1);
        }

      }
    }
  }
  &.ecommerce_header {
    .siteweb_header {
      .siteweb_header__right {
        img {
          opacity: 0.8;
        }

      }
    }
  }
  &.about__header{
    background-color: #b4cce8  ;
    .siteweb_header {
      @media (max-width: 719px) {
        flex-wrap: wrap-reverse;
      }
      .siteweb_header__left {
        h1 {
          color: #1c524f;
          font-weight: 400;
          font-size: 5.5rem;
          line-height: 5rem;
          margin: unset;
          @media (min-width: 960px) and (max-width: 1439px) {
            font-size: 4.5rem;
            line-height: 4rem;
          }
          @media (min-width: 720px) and (max-width: 989px) {
            font-size: 3.5rem;
            line-height: 3rem;
          }
          @media (max-width: 719px) {
            font-size: 2.5rem;
            line-height: 2.5rem;
          }
        }
        p {
          color: unset;
          margin: 2rem 0 0 0;
          font-size: 1.5rem;
          line-height: 2.5rem;
          @media (max-width: 719px) {
            font-size: 1.1rem;
            line-height: 1.7rem;
          }
        }
        a {
          p {
            color: white;
            background-color:  #1c524f;

          }
        }
      }
      .siteweb_header__right {
        img {
          filter: sepia(1);

        }

      }
    }

  }

  &.project__onepalm__header {
    background-color: white;
    .header__background_image {
      overflow: hidden;
      position: absolute;
      top: 13rem;
      bottom: 0;
      right: 0;
      left: 0;
      div {
        width: 1913px;
        height: 1067px;
      }
      img {
        object-fit: cover;

      }
      @media (min-width: 960px) and (max-width: 1439px) {
        top: 5rem;

      }
      @media (max-width: 719px) {
        top: -7rem;
        left: -31rem;
      }
      @media (min-width: 720px) and (max-width: 989px) {
        left: -14rem;
        top: 4rem;
      }

    }
    .siteweb_header {
      padding-bottom: 9rem;
      padding-top: 22rem;
      @media (min-width: 960px) and (max-width: 1439px) {
        padding-top: 18rem;

      }
      @media (min-width: 720px) and (max-width: 989px) {
        padding-top: 16rem;
      }
      @media (max-width: 719px) {
        padding-top: 5rem;
        padding-bottom: 5rem;
      }
      .siteweb_header__left {
        width: 40%;
        @media (max-width: 719px) {
         width: 100%;
        }
        h1 {
          color: white;
          font-weight: 400;
          font-size: 4.5rem;
          line-height: 4.5rem;
          margin: unset;

          mark {
            padding: unset;
            background-color: unset;
            color: #222222;
          }

          @media (min-width: 960px) and (max-width: 1439px) {
            font-size: 3rem;
            line-height: 3.2rem;
          }
          @media (min-width: 720px) and (max-width: 989px) {
            font-size: 2.5rem;
            line-height: 2.5rem;
          }
          @media (max-width: 719px) {
            font-size: 2.5rem;
            line-height: 2.5rem;
          }
        }
        p {
          color: white;
          margin: 3rem 0 5rem 0;
          font-size: 1.2rem;
          line-height: 2rem;
          @media (min-width: 960px) and (max-width: 1439px) {
            font-size: 1.1rem;
            line-height: 1.7rem;
            margin: 2rem 0 5rem 0;
          }
          @media (min-width: 720px) and (max-width: 989px) {
            font-size: 1.1rem;
            line-height: 1.7rem;
          }
          @media (max-width: 719px) {
            font-size: 1.1rem;
            line-height: 1.7rem;
          }
        }
        a {
          color: white;
          width: fit-content;
          background-color:  #222222;
          border: unset;
          padding: 1.3rem 3.5rem;
          font-size: 1.1rem;
          transition: opacity 0.3s ease;
          @media (min-width: 720px) and (max-width: 989px) {
            font-size: 1rem;
            line-height: 2.1rem;
            padding: 1.1rem 2.5rem;
          }
          &:hover {
            cursor: pointer;
            opacity: 0.6;
            transition: opacity 0.3s ease;
          }

        }
      }
    }


  }






  .siteweb_header {
    padding-top: 18rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-between;

    margin: auto;
    @media (min-width: 1440px)  {
      max-width: 1440px;
    }
    @media (min-width: 960px) and (max-width: 1439px) {
      max-width: 960px;
    }
    @media (min-width: 720px) and (max-width: 989px) {
      max-width: 720px;
    }
    @media (max-width: 719px) {
      flex-wrap: wrap-reverse;
      padding-top: 3.5rem;
      padding-bottom: 4rem;

    }
    .siteweb_header__left {
      width: 50%;
      margin: 0 30px;
      @media (max-width: 719px) {
        width: 100%;
        margin-top: 3rem;
      }

      h1 {
        font-weight: 400;
        font-size: 4.5rem;
        line-height: 4.5rem;
        margin: unset;
        color: #b4cce8;
        @media (min-width: 960px) and (max-width: 1439px) {
          font-size: 3rem;
          line-height: 3.2rem;
        }
        @media (min-width: 720px) and (max-width: 989px) {
          font-size: 2.5rem;
          line-height: 2.5rem;
        }
        @media (max-width: 719px) {
          font-size: 2.5rem;
          line-height: 2.5rem;



        }

      }
      p {
        color: white;
        margin: 2rem 0 0 0;
        font-size: 1.2rem;
        line-height: 2.1rem;
        @media (max-width: 719px) {
          font-size: 1.1rem;
          line-height: 1.7rem;

        }
      }
      a {
        p {
          margin-top: 3rem;
          background-color: #b4cce8;
          border: unset;
          width: fit-content;
          color: #292728;;

          padding: 1.3rem 3.5rem;
          font-size: 1.1rem;
          transition: opacity 0.3s ease;
          @media (min-width: 720px) and (max-width: 989px) {
            font-size: 1rem;
            line-height: 2.1rem;
            padding: 1.1rem 2.5rem;
          }
          &:hover {
            cursor: pointer;
            opacity: 0.6;
            transition: opacity 0.3s ease;
          }
        }

      }

    }
    .siteweb_header__right {
      width: 50%;
      margin: 0 30px;


      img {
        filter: grayscale(1);

      }
      @media (max-width: 719px) {
        width: 100%;
        padding-top: 4rem;
      }

      &.custom_medtandem_project {
        position: relative;




        width: 22%;
        margin-left: 10rem;


        aspect-ratio: 88/173;
        @media (min-width: 720px) and (max-width: 989px) {
          width: 35%;
          margin-left: 2rem;
        }
        @media (max-width: 719px) {
          width: 50%;
           margin: unset;
        }


        img {

          filter: unset;
        }

      }

    }

  }
}