.about_body__container {
  background-color: #b4cce8;
  padding-bottom: 3rem;

  .about_body {
    margin: auto;

    @media (min-width: 1440px)  {
      max-width: 1440px;
      padding: 1.5rem 0rem 4rem 0rem;
    }
    @media (min-width: 960px) and (max-width: 1439px) {
      max-width: 960px;
      padding: 1.5rem 0rem 0 0rem;
    }
    @media (min-width: 720px) and (max-width: 989px) {
      max-width: 720px;
      padding: 1.5rem 0rem 0 0rem;
    }
    @media (max-width: 719px) {
      padding: 1.5rem 2rem 0 2rem;



    }

    h2 {
      color: #1c524f;
      font-weight: unset;
      font-size: 4.5rem;
      margin-bottom: unset;

      padding: 0 2rem;
      @media (min-width: 960px) and (max-width: 1439px) {
        font-size: 3.2rem;
        line-height: 3.2rem;
      }
      @media (min-width: 720px) and (max-width: 989px) {
        font-size: 3.2rem;
        line-height: 3.2rem;
      }
      @media (max-width: 719px) {
        font-size: 2.2rem;
        line-height: 2.2rem;
        padding: unset;
        text-align: center;

      }
    }

    .about_body__content {

      display: flex;
      flex-wrap: wrap;


      .about_body__item {
        padding: 0 2rem;
        width: 50%;
        display: flex;
        flex-direction: column;

        &.special_margin__bottom {
          margin-bottom: 4rem;
        }


        @media (min-width: 960px) and (max-width: 1439px) {

        }
        @media (min-width: 720px) and (max-width: 989px) {

        }
        @media (max-width: 719px) {
          padding: unset;
          width: 100%;

        }

        h3 {
          color: #1c524f;
          font-weight: unset;
          font-size: 3rem;
          margin-top: 2rem;
          margin-bottom: unset;
          @media (min-width: 960px) and (max-width: 1439px) {
            font-size: 2rem;
          }
          @media (min-width: 720px) and (max-width: 989px) {
            font-size: 2rem;
          }
          @media (max-width: 719px) {

            font-size: 1.7rem;
          }

        }
        p {
          font-size: 1.1rem;
          line-height: 1.6rem;
          @media (min-width: 720px) and (max-width: 989px) {
            font-size: 1rem;
            line-height: unset;
          }
          @media (max-width: 719px) {
            font-size: 1rem;
            line-height: 1.6rem;



          }
        }

        .about_item__image {
          width: 80%;

          aspect-ratio: 1/1;
          margin: 0 auto;



          filter: grayscale(1);

          img {


            filter: sepia(1);
          }

        }




      }
    }

  }
}