.confidentialite_content_bloc__container {


  .confidentialite__header__container {
    background-color: #1c524f;
    padding-top: 23rem;
    @media (max-width: 719px) {
      padding-top: 14rem;
    }

    &.confidentialite__background_blue {
      background-color: #b4cce8;
      .confidentialite__header {
        .confidentialite__header__content {
          color: unset;
          h1 {
            color: #1c524f;
          }
        }

      }


    }

    .confidentialite__header{
      padding: 0 2rem;


      margin: auto;


      @media (min-width: 1440px)  {
        max-width: 1440px;
      }
      @media (min-width: 960px) and (max-width: 1439px) {
        max-width: 960px;
      }
      @media (min-width: 720px) and (max-width: 989px) {
        max-width: 720px;

      }
      @media (max-width: 719px) {

      }

      .confidentialite__header__content {
        margin: auto;
        max-width: 750px;
        color: white;
        h6 {
          font-size: 1.1rem;
          font-weight: unset;
          margin: unset;
          margin-bottom: 1rem;
          @media (max-width: 719px) {
            font-size: 1rem;

          }

        }
        h1 {
          color: #b4cce8;
          font-size: 4.5rem;
          font-weight: unset;
          line-height: 4.5rem;
          margin: unset;
          margin-bottom: 2rem;
          @media (min-width: 960px) and (max-width: 1439px) {
            font-size: 3.2rem;
            line-height: 3.2rem;
          }
          @media (min-width: 720px) and (max-width: 989px) {
            font-size: 3.5rem;
            line-height: 3.5rem;

          }
          @media (max-width: 719px) {
            font-size: 2.2rem;
            line-height: 2.2rem;

          }

        }
        p {
          margin: unset;
          font-size: 1.1rem;
          @media (max-width: 719px) {
            font-size: 1rem;

          }
        }
        .confidentialite__text_bloc {
          margin-top: 2rem;
        }
      }
    }
  }

  .confidentialite__main_content__container {
    padding-top: 6rem;
    padding-bottom: 7rem;
    @media (max-width: 719px) {
      padding-top: 2rem;
      padding-bottom: 0;
    }

    .confidentialite__main{
      margin: auto;
      padding: 0 2rem;



      @media (min-width: 1440px)  {
        max-width: 1440px;
      }
      @media (min-width: 960px) and (max-width: 1439px) {
        max-width: 960px;
      }
      @media (min-width: 720px) and (max-width: 989px) {
        max-width: 720px;

      }
      @media (max-width: 719px) {

      }

      .confidentialite__main__content {
        max-width: 750px;
        margin: auto;
        padding-bottom: 5rem;


        .confidentialite__maint__text_bloc {
          margin-bottom: 5rem;
          @media (min-width: 960px) and (max-width: 1439px) {
            margin-bottom: 4rem;
          }
          @media (min-width: 720px) and (max-width: 989px) {
            margin-bottom: 4rem;

          }
          @media (max-width: 719px) {
            margin-bottom: 3rem;

          }

          a {
            background-color: unset;
            color: unset;
            text-decoration: underline;
            padding: unset;
            transition: opacity 0.3s ease;
            &:hover {
              opacity: 0.7;
              transition: opacity 0.3s ease;
            }

          }


          h2 {
            font-size: 3.1rem;
            line-height: 4rem;
            margin-bottom: 1.8rem;
            @media (min-width: 960px) and (max-width: 1439px) {
              font-size: 2.1rem;
              line-height: 2.5rem;
            }
            @media (min-width: 720px) and (max-width: 989px) {
              font-size: 2.1rem;
              line-height: 2.5rem;

            }
            @media (max-width: 719px) {
              font-size: 1.8rem;
              line-height: 2.2rem;

            }
          }
          h4 {
            font-size: 1.8rem;
            margin: 1.4rem 0;
            @media (min-width: 960px) and (max-width: 1439px) {
              font-size: 1.4rem;

            }
            @media (min-width: 720px) and (max-width: 989px) {
              font-size: 1.4rem;

            }
            @media (max-width: 719px) {
              font-size: 1.3rem;
              line-height: 1.8rem;

            }
          }
          p {
            font-size: 1.1rem;
            @media (min-width: 960px) and (max-width: 1439px) {
              font-size: 1rem;

            }
            @media (min-width: 720px) and (max-width: 989px) {
              font-size: 1rem;

            }
            @media (max-width: 719px) {
              font-size: 1rem;

            }

            mark {
              padding: unset;
              background-color: unset;
              text-decoration: underline;

            }

          }
          ul {
            margin-bottom: 2rem;
            margin-top: 2rem;
            @media (max-width: 719px) {

              padding-left: 1rem;

            }
            li {
              line-height: 2.1rem;
              font-size: 1.1rem;
              @media (min-width: 960px) and (max-width: 1439px) {
                font-size: 1rem;
                line-height: 1.7rem

              }
              @media (min-width: 720px) and (max-width: 989px) {
                font-size: 1rem;
                line-height: 1.7rem

              }
              @media (max-width: 719px) {
                font-size: 1rem;


              }
            }
          }
        }



      }
      a {

        color: white;
        padding: 1.5rem 2.5rem;
        background-color: #222222;
        @media (max-width: 719px) {
          font-size: 1rem;
          padding: 1.2rem 2rem;


        }
      }


    }

  }






}