.footer {
  width: 100%;
  background-color: #222222;
  position: relative;
  overflow: hidden;
  &.black_merci_background {
    background-color: #060708;
  }

  .footer_logo__image {
    position: absolute;
    opacity: 0.2;
    bottom: -3.3rem;
    left: 50%;
    transform: translateX(-50%);
    transition: transform 1s ease, opacity 0.3s ease;
    filter: invert(1);
    &:hover {
      opacity: 1;
      transition: transform 1s ease, opacity 0.3s ease;
      transform: translate(-3rem, -3rem);
      .logo_image_footer__container {
        .image_text_animation {
          opacity: 1;
          transition: opacity 1s ease;
        }
      }
    }
    @media (min-width: 960px) and (max-width: 1439px) {
      left: 63%;
    }
    @media (min-width: 720px) and (max-width: 989px) {
      left: 73%;
    }
    @media (max-width: 719px) {
      display: none;
    }
    .logo_image_footer__container {
      position: relative;
      .image_text_animation {
        display: flex;
        opacity: 0;
        transition: opacity 0.5s ease;
        position: absolute;
        top: 0rem;
        left: 7rem;
        @media (min-width: 720px) and (max-width: 989px) {
          left: 6.5rem;
        }
        img {
          transform: rotate(90deg);

        }
        p {
          font-family: 'Sue Ellen Francisco', cursive;
          margin-left: 1rem;
          white-space: nowrap;
          font-size: 1.7rem;
          transform: translateY(-0.3rem);
          mark {
            padding: unset;
            background-color: unset;
            color: #ff3737;
            filter: invert(1);
          }
          @media (min-width: 720px) and (max-width: 989px) {
            min-width: 8rem;
            line-height: 1.5rem;
            font-size: 1.4rem;
            white-space: unset;
            margin-left: 0.5rem;
          }


        }
      }
    }
  }

  .footer_desktop {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    margin: auto;
    padding: 0 2rem;
    
    @media (min-width: 1440px)  {
      max-width: 1440px;
    }
    @media (min-width: 960px) and (max-width: 1439px) {
      max-width: 960px;
    }
     @media (min-width: 720px) and (max-width: 989px) {
       max-width: 720px;
     }
    @media (max-width: 719px) {
      display: none;
    }
    .footer__top {
      padding: 4rem 0 0 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        font-size: 1.5rem;
        margin: unset;
        max-width: 17rem;
      }
      ul {
        margin: unset;
        padding: unset;
        li {
          list-style: none;
          opacity: 0.7;

          &.active_current_page {
            list-style: disc;
            opacity: 1;
            a {
              &:hover {
                opacity: 1 !important;
              }
            }
          }
          &.active_parent_page {
            opacity: 1;


          }
        }
      }

      .footer__sitemap {
        display: flex;
        .sitemap_item {
          margin: 0 0 0 2rem;
          display: flex;
          flex-direction: column;
          max-width: 8rem;


          @media (max-width: 989px) {
            font-size: 0.9rem;
          }
          a {
            width: fit-content;
            transition: opacity 0.3s ease;
            &:hover {
              opacity: 0.5;
              transition: opacity 0.3s ease;
            }
          }
        }
        .sitemap_dynamic_item {
          display: flex;

          .sitemap_dynamic_services {
            margin: 0 0 0 2rem;
            a {
              color: #fad10a;
              transition: opacity 0.3s ease;
              &:hover {
                opacity: 0.5;
                transition: opacity 0.3s ease;
              }
            }
          }
          .sitemap_dynamic_works {
            margin: 0 0 0 2rem;
            a {
              color: #b4cce8;
              transition: opacity 0.3s ease;
              &:hover {
                opacity: 0.5;
                transition: opacity 0.3s ease;
              }
            }
          }
          .sitemap_dynamic_sub_services {
            margin: 0 0 0 2rem;
            a {
              color: #41c2bb;
              &:hover {
                opacity: 0.5;
                transition: opacity 0.3s ease;
              }
            }
          }


        }
      }
    }
    .footer__middle {
      border-top: 1px solid white;
      padding: 3rem 0 0 0;
      display: flex;

      justify-content: space-between;
      @media (max-width: 989px) {
        font-size: 0.9rem;
      }
      .footer__mail {
        display: flex;
        flex-direction: column;
        max-width: 20rem;
        span {
          color: lightgray;
        }
        a {
          color: white;
          margin-bottom: 0.5rem;
          transition: opacity 0.3s ease;
          &:hover {
            opacity: 0.5;
            transition: opacity 0.3s ease;
          }
        }
      }

      .footer__social_links {
        display: flex;
        flex-direction: column;
        span {
          display: flex;
          align-items: center;
          img {
            width: 1rem;
          }
          a {
            margin-left: 1rem;
            transition: opacity 0.3s ease;
            &:hover {
              opacity: 0.5;
              transition: opacity 0.3s ease;
            }
          }
        }
      }
      .footer__adress {

       display: flex;
        .adress_item {
          .adress_title {
            opacity: 1;

          }
          margin-left: 2rem;
          p {
            opacity: 0.8;
            margin: unset;
          }
        }
      }

    }
    .footer__bottom {

      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2rem;
      .footer_title {
        font-weight: bold;
        font-size: 5rem;
        margin: unset;
      }
      img {
        filter: invert(1);
        width: 7rem;
      }

    }
    .footer_legal {
      opacity: 0.7;
      display: flex;
      align-items: center;
      p {
        font-size: 0.90rem;
      }
      a {
        font-size: 0.94rem;
        margin-left: 0.3rem;
        color: white;
        opacity: 0.7;
        transition: opacity 0.3s ease;
        &:hover {
          opacity: 1;
          transition: opacity 0.3s ease;
        }
      }


    }
  }
  .footer_mobile {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    margin: auto;
    padding: 1rem;
    h1 {

    }
    .footer_mobile__mail {
      display: flex;
      flex-direction: column;
      margin-bottom: 5rem;
      span {
        color: rgba(255, 255, 255, 0.65);
      }
      a {
        margin-bottom: 0.5rem;
        color: rgba(255, 255, 255, 0.65);

      }
    }

    .footer_logo {
      position: relative;
      font-size: 2.5rem;
      margin-bottom: 1rem;
      font-weight: bold;
      text-align: center;
    }
    .footer_mobile__social {
      margin: 2rem 0;
      display: flex;

      .footer_social__item {
        margin-right: 1rem;
        width: 2.5rem;
        height: 2.5rem;
        padding: 0.6rem;

        border: 1px solid #ffffff52;
        border-radius: 50%;

      }






    }
    .footer_mobile__links {
      display: flex;
      justify-content: space-between;
      padding: 0 1rem;
      ul {
        margin: unset;
        padding: unset;
        li {
          list-style: none;
          opacity: 0.7;

          &.active_current_page {
            list-style: disc;
            opacity: 1;
          }
          &.active_parent_page {
            opacity: 1;
          }
        }
      }


      .footer_mobile__links__global {
        display: flex;
        flex-direction: column;

        a {
          margin: 0.1rem 0;
          color: white;
        }
      }
      .footer_mobile__dynamic_links {
        display: flex;
        flex-direction: column;
        .footer_mobile__links__services {
          margin-bottom: 1rem;
          display: flex;
          flex-direction: column;
          a {
            color: #fad10a;
          }
        }
        .footer_mobile__links__sub_services {
          margin-bottom: 1rem;
          display: flex;
          flex-direction: column;
          a {
            color: #41c2bb;
          }
        }
        .footer_mobile__links__works {
          margin-bottom: 1rem;
          display: flex;
          flex-direction: column;
          a {
            color: #b4cce8;
          }
        }
      }


    }

    .mobile__footer_legal {
      border-top: 1px solid #ffffff2e;
      p {
        margin-bottom: 0;
        margin-top: 1.2rem;
        line-height: 1rem;
      }

      a {
        margin: unset;
        color: rgba(255, 255, 255, 0.65);

        font-size: 0.9rem;
      }
    }



    @media (min-width: 720px) {
      display: none;
    }

  }
}