.navbar {
  width: 100%;


  transition: border-bottom-width 0.3s ease;
  @media (min-width: 720px) and (max-width: 989px) {

  }

  @media (max-width: 719px) {
    transition: border-bottom-width 0.3s ease;



  }


  &.navbar__grey_line {
    transition: border-bottom-width 0.3s ease;
    border-bottom: 1px solid #8080804f;
  }
  &.menu_opened {
    background-color: white !important;
    color: black !important;

    .navbar__bottom {
      .navbar__bottom__mobile {
        .pokou_logo_mobile {
          filter: invert(0) !important;
        }
        .burger__icon {
          svg {
            stroke: black !important;
          }
          .icon__span {
            background-color: black !important;
            &:after {
              background-color: black !important;
            }
            &:before {
              background-color: black !important;
            }
          }


        }

      }

    }

  }

  .navbar_container {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    padding: 0 2rem;
    flex-direction: column;


    @media (min-width: 1440px)  {
      max-width: 1440px;
    }
    @media (min-width: 960px) and (max-width: 1439px) {
      max-width: 960px;
    }
    @media (min-width: 720px) and (max-width: 989px) {
      max-width: 720px;
    }


    .navbar__top  {
      display: flex;
      margin-top: 1rem;
      height: fit-content;
      position: relative;



      @media (max-width: 719px) {
        display: none;
        &.is_not_display {
          display: none;
        }

      }


      a {
        opacity: 0.91;

        transition: font-size 0.3s ease,opacity 0.3s ease, opacity 2s ease, margin 0.3s ease;
        span {
          img {
            height: 7rem;
            transition: height 0.3s ease;

            @media (min-width: 960px) and (max-width: 1439px) {
              height: 4.5rem;
            }
            @media (min-width: 720px) and (max-width: 989px) {
              height: 3.2rem;
            }


          }

        }

      }
    }
    .navbar__bottom {


      .navbar__bottom__desktop {
        position: relative;
        display: flex;
        align-content: center;
        justify-content: space-between;
        margin: 1rem 0 1.2rem 0;


        @media (max-width: 719px) {
          display: none;

        }
        ul {
          display: flex;
          list-style: none;
          margin: unset;
          padding: unset;
          li {
            a {
              font-size: 1.1rem;

              padding: 1rem 1.5rem 1rem 0;
              transition: opacity 0.3s ease;
              &:hover {
                opacity: 0.5;
                transition: opacity 0.3s ease;
              }
            }
          }
        }




        .nav__links_left {

        }
        .nav__links_right {
        }
        .nav__links_bullet {
          position: absolute;
          width: 6px;
          height: 6px;
          background-color: black;
          border-radius: 50%;
          top: 1.7rem;
          opacity: 0;
          transition: opacity 0.3s ease;
          &.bullet_active {
            opacity: 1;
            transition: opacity 0.3s ease,left 0.3s ease, opacity 0.3s ease;
          }

        }
      }
      .navbar__bottom__mobile {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        @media (min-width: 720px) {
          display: none;
        }
        a {
          position: relative;
          font-weight: bold;
          margin: 0.5rem 0;
          font-size: 2rem;
          opacity: 0;
          padding-left: 2.85rem;

          &.is_visible {
            opacity: 1;
            transition: opacity 1.5s ;
          }
          span {
            position: absolute;
            left: 0;
          }
          .pokou_logo_mobile {
            position: absolute;
            width: 1.46rem;
            left: 1.35rem;

          }
        }


        .burger__icon {
          transform: scale(0.8);
          position: relative;
          width: 54px;
          height: 54px;
          background-color: transparent;
          border-radius: 50%;
          transition: transform 0.5s;

          &.black_version {
            svg {
              stroke: black;
            }
            .icon__span {
              background-color: black;
              &:after {
                background-color: black;
              }
              &:before {
                background-color: black;
              }
            }

          }

          &:hover {
            .icon__span::before {
              transform: translateY(-10px);
            }
            .icon__span::after {
              transform: translateY(10px);
            }
          }

          &.is_open {
            .icon__span {
              transition: background 0.5s steps(1, start);
              background-color: transparent !important;
              &:before {
                transform: translateX(-3px) translateY(-8px) rotate(-45deg);
              }
              &:after {
                transform: translateX(-3px) translateY(8px) rotate(45deg);
              }
            }
            svg {
              opacity: 1;
              stroke-dasharray: 160;
              stroke-dashoffset: -65;
              transition: stroke-dasharray 0.5s, stroke-dashoffset 0.5s, opacity 0.5s steps(1, start);
            }
          }

          svg {
            opacity: 0;
            fill: transparent;
            stroke: #fff;
            stroke-width: 2px;
            stroke-dasharray: 22 230;
            transition: stroke-dasharray 0.5s, stroke-dashoffset 0.5s, opacity 0.5s steps(1, end);
          }

          .icon__span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            width: 22px;
            height: 2px;
            background-color: #fff;
            transition: background 0.5s, transform 0.5s;
            transition: background 0.5s steps(1, end);



            &:after {
              transform-origin: 100% 50%;
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              display: block;
              width: 22px;
              height: 2px;
              background-color: #fff;
              transition: transform 0.5s;
              transform: translateY(8px);
            }
            &:before {
              transform-origin: 100% 50%;
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              display: block;
              width: 22px;
              height: 2px;
              transform: translateY(-8px);
              background-color: #fff;
              transition: transform 0.5s;
            }
          }
        }
      }
    }
  }
  &.background--red {
    background-color: #F04D37;
    color: white;
    @media (max-width: 719px) {
      border-bottom: 1px solid #F58C7D;
    }
    .navbar_container {
      .navbar__top {
        a {
          opacity: 1;
          filter: invert(1);
        }


      }
      .navbar__bottom {
        .navbar__bottom__desktop {
          .nav__links_bullet {
            background-color: white;
          }
        }
        .navbar__bottom__mobile {
          .pokou_logo_mobile {
            filter: invert(1);
          }
        }
      }

    }

    &.navbar__grey_line {
      transition: border-bottom-width 0.3s ease;
      border-bottom: 1px solid #F58C7D;
    }
  }
  &.background--white {
    background-color: white !important;
    @media (max-width: 719px) {
      border-bottom: 1px solid #8080804f;
    }
  }
  &.background--blue {
    background-color: #b4cce8 ;
    @media (max-width: 719px) {
      border-bottom: 1px solid #D6E3F2;
    }
    &.navbar__grey_line {
      transition: border-bottom-width 0.3s ease;
      border-bottom: 1px solid #D6E3F2;
    }
  }
  &.background--green {
    background-color: #1c524f;
    color: white;
    @media (max-width: 719px) {
      border-bottom: 1px solid #4A7373;
    }
    &.navbar__grey_line {
      transition: border-bottom-width 0.3s ease;
      border-bottom: 1px solid #4A7373;
    }
    .navbar_container {
      .navbar__top {
        a {
          opacity: 1;
          filter: invert(1);
        }


      }
      .navbar__bottom {
        .navbar__bottom__desktop {
          .nav__links_bullet {
            background-color: white;
          }
        }
        .navbar__bottom__mobile {
          .pokou_logo_mobile {
            filter: invert(1);
          }
        }
      }

    }
  }
  &.background--yellow {
    background-color: #fad10a;
    @media (max-width: 719px) {
      border-bottom: 1px solid #FAEB94;
    }
    &.navbar__grey_line {
      transition: border-bottom-width 0.3s ease;
      border-bottom: 1px solid #FAEB94;
    }
  }
  &.background--black {
    background-color: #222222 ;
    color: white;
    @media (max-width: 719px) {
      border-bottom: 1px solid #595759;
    }
    &.navbar__grey_line {
      transition: border-bottom-width 0.3s ease;
      border-bottom: 1px solid #595759;
    }
    .navbar_container {
      .navbar__top {
        a {
          opacity: 1;
          filter: invert(1);
        }


      }
      .navbar__bottom {
        .navbar__bottom__desktop {
          .nav__links_bullet {
            background-color: white;
          }
        }
        .navbar__bottom__mobile {
          .pokou_logo_mobile {
            filter: invert(1);
          }
        }
      }
    }
  }
  a {
    width: fit-content;
  }
}

.burger__menu {
  background-color: white;
  width: 100%;
  overflow: hidden;
  height: 0;

  opacity: 0;



  @media (min-width: 720px) {
    display: none;
  }
  &.burger__menu__open {

    height: 100%;
    opacity: 1;
    transition: opacity 0.3s ease;
    .burger__menu__container {
      opacity: 1;
      transition: opacity 1s ease;

      .burger_menu__logo {
        display: block;
      }

    }
  }

  .burger__menu__container {
    display: flex;
    position: relative;
    overflow: scroll;
    width: 100%;
    height: 100%;

    flex-direction: column;
    padding: 2rem 2rem 0 2rem;
    opacity: 0;
    transition: opacity 0.5s ease, height 0.3s ease;
    ul {
      margin: unset;
      padding-left: 1rem;

      li {
        width: fit-content;
        list-style: none;
        font-size: 2rem;
        &.active_link {
          list-style: disc;
          font-weight: 500;
          a {
            opacity: 1;
          }
        }
        &.travaux_active_link {
          font-weight: 500;
          a {
            opacity: 0.7;
          }
        }
        a {
          opacity: 0.4;

          width: fit-content;

        }
      }
    }
    .main_burger_menu__content {
      border-bottom: 1px solid rgba(128, 128, 128, 0.35);
      padding-bottom: 1rem;
      li {
        font-size: 2rem;
      }

    }
    .primary_service_burger_menu__content {
      margin-top: 1rem;
      li {
        font-size: 1.5rem;
        a {
          opacity: 0.4;

        }
      }

    }
    .secondary_service_burger_menu__content {
      margin-top: 1rem;
      li {
        font-size: 1.5rem;
        a {

          opacity: 0.4;


        }
      }

    }

    .burger_menu__logo {


      display: none;
      position: fixed;
      bottom: -3.2rem;
      opacity: 0.3;
      transition: opacity 0.5s ease, transform 0.5s ease;
      left: calc(50% - 49px);

      &.active_pokou {
        opacity: 1;
        transform: translateY(-4rem);
        transition: opacity 0.5s ease, transform 0.5s ease;
        .interactive_logo_container {
          display: block;
        }
      }

      .interactive_logo_container {
        display: none;

        position: relative;


        .share_logo {
          transition: opacity 1s ease, bottom 0.5s , left 0.5s;
          position: absolute;
          bottom: -3rem;
          opacity: 0;
          left: 1rem;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          border: 1px solid;
          border-radius: 50%;
          height: 2.5rem;
          width: 2.5rem;
          .share_button {
          }
          &.active_share_logo {
              bottom: 0;
              left: calc(0px - 1.25rem);
              opacity: 0.8;
              transition: opacity 0.5s ease, bottom 0.5s ease , left 0.5s ease;
            &:hover {
              transition: opacity 0.3s ease;
              opacity: 1;
            }
            &:active {
              transition: opacity 0.3s ease;
              opacity: 1;
            }
          }
        }
        .bisous_logo {
          transition: opacity 1s ease, bottom 0.5s , left 0.5s ;
          position: absolute;
          bottom: -3rem;
          opacity: 0;
          left: 2rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          border: 1px solid;
          border-radius: 50%;
          justify-content: center;
          height: 2.5rem;
          width: 2.5rem;
          .share_button {
          }
          &.active_bisou_logo {
            bottom: 0;
            left: calc(95px - 1.25rem);
            opacity: 0.8;
            transition: opacity 0.5s ease, bottom 0.5s ease , left 0.5s ease;
            &:hover {
              transition: opacity 0.3s ease;
              opacity: 1;
            }
            &:active {
              transition: opacity 0.3s ease;
              opacity: 1;
            }
          }
        }

      }

    }






  }

}




