.blue_bloc__container {
  background-color: #b4cce8;
  padding: 7.5rem 0;
  @media (max-width: 719px) {
    padding: 3.5rem 0 2.5rem 0;
  }

  .blue_bloc {
    margin: auto;
    display: flex;

    @media (min-width: 1440px)  {
      max-width: 1440px;
    }
    @media (min-width: 960px) and (max-width: 1439px) {
      max-width: 960px;
    }
    @media (min-width: 720px) and (max-width: 989px) {
      max-width: 720px;
    }
    @media (max-width: 719px) {
      flex-wrap: wrap;
      margin: 0 2rem;
    }

    .blue_bloc__left {
      display: flex;
      flex-direction: column;

      width: 36%;
      margin: 0 30px;
      @media (min-width: 720px) and (max-width: 989px) {
        width: 50%;
      }
      @media (max-width: 719px) {
        width: 100%;
        margin: unset;
      }

      h2 {
        color: #1c524f;
        font-size: 4.5rem;
        font-weight: unset;
        line-height: 4.5rem;
        margin: unset;
        @media (min-width: 960px) and (max-width: 1439px) {
          font-size: 3.5rem;
          line-height: 3.5rem;
        }

        @media (min-width: 720px) and (max-width: 989px) {
          font-size: 3.5rem;
          line-height: 3.5rem;
        }
        @media (max-width: 719px) {
          font-size: 2.5rem;
          line-height: 2.5rem;

        }
      }
      p {
        margin-top: 2rem;
        font-size: 1.2rem;
        line-height: 1.9rem;
        max-width: 28rem;
        @media (min-width: 960px) and (max-width: 1439px) {
          font-size: 1.1rem;
          line-height: 1.9rem;
        }

        @media (min-width: 720px) and (max-width: 989px) {
          font-size: 1.1rem;
          line-height: 1.7rem;
        }
        @media (max-width: 719px) {
          font-size: 1.1rem;
          line-height: unset;


        }

      }
      button {
        width: fit-content;
        margin-top: 2rem;
        background-color: #1c524f;
        border: unset;
        color: white;
        padding: 1.5rem 3.4rem;
        border-radius: 2px;
        font-size: 1.3rem;
        transition: opacity 0.3s ease;
        @media (min-width: 960px) and (max-width: 1439px) {
          font-size: 1.1rem;
          padding: 1.2rem 2.5rem;
        }

        @media (min-width: 720px) and (max-width: 989px) {
          font-size: 1.1rem;
          padding: 1.2rem 2.5rem;
        }
        @media (max-width: 719px) {
          font-size: 1.1rem;
          padding: 1.2rem 2.5rem;
          margin-top: 1.5rem;



        }
        &:hover {
          cursor: pointer;
          opacity: 0.6;
          transition: opacity 0.3s ease;
        }
      }

    }
    .blue_bloc__right {
      width: 66%;
      @media (max-width: 719px) {
        margin-top: 4rem;
        width: 100%;
      }
      img {
        filter: sepia(1);
      }

    }
  }
}