.header_bloc__container {




  .header_bloc {
    display: flex;

    justify-content: space-between;
    margin: auto;
    padding-top: 20rem;

    @media (min-width: 1440px)  {
      max-width: 1440px;
    }
    @media (min-width: 960px) and (max-width: 1439px) {
      max-width: 960px;
      padding-top: 19rem;
      .header_bloc__left {
        h1 {
          font-size: 4.5rem;
          line-height: 4.5rem;
        }
      }
    }
    @media (min-width: 720px) and (max-width: 989px) {
      max-width: 720px;
      padding-top: 18rem;
      flex-wrap: nowrap;
      .header_bloc__left {
        h1 {
          font-size: 3.5rem;
          line-height: 3.5rem;
        }

      }

    }
    @media (max-width: 719px) {
      flex-wrap: wrap-reverse;
      padding-top: 1rem;
      .header_bloc__left {
        width: 100%;
        h1 {
          font-size: 2.5rem;
          line-height: 2.5rem;
        }
        p {
          font-size: 1.1rem;
          line-height: 1.7rem;
        }
        button {
          font-size: 1.1rem;
          padding: 1.7rem 3.3rem;
        }
      }
      .header_bloc__right {
        width: 100%;
        padding-top: 4rem;
      }
    }

  }


  .header_bloc__left {
    width: 50%;
    margin: 0 30px;

    h1 {
      font-weight: 400;
      font-size: 5.5rem;
      line-height: 5.5rem;
      margin: unset;
    }
    p {
      margin: 2rem 0 0 0;
      font-size: 1.5rem;
      line-height: 2.5rem;

    }

    button {
      font-family: Poppins;
      margin-top: 3rem;
      background-color: black;
      border: unset;
      color: white;
      padding: 2rem 3.5rem;
      font-size: 1.5rem;
      transition: opacity 0.3s ease;
      &:hover {
        cursor: pointer;
        opacity: 0.6;
        transition: opacity 0.3s ease;
      }
    }

  }
  .header_bloc__right {
    width: 50%;
    margin: 0 30px;
    height: 100%;

    img {
      filter: sepia(0.7);

    }

    .image_animation {
      position: relative;
      @media (min-width: 720px) {
        animation: bounce 7s ease infinite;
        @keyframes bounce{
          from {transform: translateY(0)}
          50%  {transform: translateY(-1rem)}
          to   {transform: translateY(0)}
        }
      }

      .tablette_image {
        position: absolute;
        width: 36rem;
        transform: translate(210px, -90px);
      }
      .phone_image {
        position: absolute;
        width: 16rem;
        transform: translate(60px, 44px);
      }

    }





  }

}