.our_team_container {
  background-color: #101010;

  position: relative;
  margin-top: 10rem;

  @media (max-width: 719px) {
    margin-top: 2rem;

  }


  transition: transform 1s ease;

  &.our_team_container__animation {

    transition: transform 1s ease;
    transform: translateY(20rem);
  }





  .our_team {
    margin: auto;
    padding: 13rem 2rem 30rem 2rem;


    z-index: 2;

    @media (min-width: 1440px)  {
      max-width: 1440px;
    }
    @media (min-width: 960px) and (max-width: 1439px) {
      max-width: 960px;
    }
    @media (min-width: 720px) and (max-width: 989px) {
      max-width: 720px;
    }
    @media (max-width: 719px) {
      padding: 6rem 2rem 6rem 2rem;

    }





    .our_team__agency {
      position: relative;

      display: flex;
      justify-content: space-between;

      @media (max-width: 719px) {
        flex-wrap: wrap;
      }

    

      .our_team__agency_image {
        transform: translateY(-90px);
        width: 35%;
        filter: invert(1);
        transition: opacity 2s ease, transform 1.5s ease;
        @media (max-width: 719px) {
          width: 100%;
          margin-top: 7rem;
        }



        &.agency_image__before_animation {
          transform: translateY(3rem);
          opacity: 0;
        }

        .patchwork_image {
          animation: bounce 5s ease infinite;
          @keyframes bounce{
            from {transform: translateY(0)}
            50%  {transform: translateY(1rem)}
            to   {transform: translateY(0)}
          }

          img {
            //width: 20rem;
            filter: grayscale(1);

          }

        }

      }

      .our_team__agency_title {
        width: 65%;
        @media (max-width: 719px) {
          width: 100%;
        }

        .title__animation_item {
          position: absolute;
          top: -18rem;
          color: #101010;

          z-index: -1;
          transform: translateY(0px);
          font-size: 4.5rem;
          font-weight: unset;
          margin-bottom: 2rem;
          line-height: 5rem;
          transition: transform 1s ease;
          @media (min-width: 720px) and (max-width: 989px) {
            font-size: 3.5rem;
            line-height: 3.5rem;
            top: -16.7rem;
          }
          @media (max-width: 719px) {
            font-size: 2.5rem;
            line-height: 2.5rem;
            top: -9.6rem;
            transform: translateY(15px);

          }

          &.start_animation {

            transform: translateY(66px);
            transition: transform 1s ease;
            @media (min-width: 720px) and (max-width: 989px) {
              max-width: 720px;
            }
            @media (max-width: 719px) {


            }
          }
          &.end_animation {
            transform: translateY(80px);
            transition: transform 0.5s ;
            opacity: 0;
          }

        }

        .agence_title {
          transform: translateY(-80px);
          opacity: 0;

          &.agence_title_animation {
            transform: translateY(0px);
            opacity: 1;
            transition: transform 0.5s, opacity 0.3s ease ;


          }

        }
        .collectif_title {
          font-weight: 500;
          color: #fad10a;
          opacity: 0;
          &.collectif_title__animation {
            opacity: 1;
            transition: opacity 1s ease;
          }
        }

        h2 {
          overflow: hidden;
          transform: translateY(-208px);
          margin-top: 0;
          margin-bottom: 2rem;
          color: white;
          font-size: 4.5rem;
          font-weight: unset;

          line-height: 5rem;
          @media (min-width: 720px) and (max-width: 989px) {
            font-size: 3.5rem;
            line-height: 4rem;
          }
          @media (max-width: 719px) {
            font-size: 2.5rem;
            line-height: 3rem;

          }
          span {
            display: block;
          }

          &.end_animation {
            transform: translateY(0px);
            transition: transform 0.9s;
          }

        }
        .agency_title__text {
          &.text_animation {
            p {
              transform: translateY(0px);
              opacity: 1;
              transition: opacity 1s ease, transform 1s ease;
            }


          }
          p {
            transform: translateY(46px);
            max-width: 40rem;
            color: white;
            opacity: 0;
            font-size: 1.2rem;
            mark {
              padding: unset;
              background-color: unset;
              font-weight: bold;
              font-size: 1.4rem;
              color: white;

            }

          }
        }



      }
    }

    .our_team__advantages {
      opacity: 1;
      transition: opacity 3s ease;

      padding-bottom: 21rem;
      padding-top: 2rem;
      @media (min-width: 960px) and (max-width: 1439px) {
        padding-top: 7rem;
      }
      @media (max-width: 719px) {
        padding-bottom: 7rem;

      }

      &.our_team__advantages__before_animation {
        transition: opacity 3s ease;
        opacity: 0;
        h3 {
          transform: translateY(5rem);
          opacity: 0;
        }

      }
      h3 {
        opacity: 1;
        transition: transform 2s ease, opacity 1s ease;
        text-align: center;
        color: white;
        font-weight: unset;
        font-size: 2rem;
        @media (max-width: 719px) {
          font-size: 1.8rem;

        }
      }
      .advantage_container {
        display: flex;
        @media (min-width: 720px) and (max-width: 989px) {
          flex-wrap: wrap;
        }
        @media (max-width: 719px) {
          flex-wrap: wrap;

        }
        .advantage_item {
          padding: 0 1rem;
          opacity: 1;
          transition: opacity 2s ease, transform 1.5s ease;
          width: 25%;
          @media (min-width: 720px) and (max-width: 989px) {

            width: 50%;

          }
          @media (max-width: 719px) {
          width: 100%;

          }
          h4 {
            font-weight: unset;
            color: white;
            font-size: 1.5rem;
            @media (max-width: 719px) {
              margin-bottom: 1.2rem;

            }
          }
          p {
            color: #f2f2f280;
          }

          &.advantage_item__before_animation {
            transform: translateY(8rem);
            opacity: 0;
          }

        }
      }

    }

    .our_team__steps_container {
      display: flex;
      justify-content: space-between;
      position: relative;
      @media (max-width: 719px) {
        display: block;

      }

      .mobile__step_title {

        display: none;
        color: #fad10a;
        font-size: 1.8rem;
        text-align: center;
        font-weight: unset;
        margin-bottom: 6rem;
        @media (max-width: 719px) {
          display: block;

        }
      }


      .our_team__left {
        width: 50%;
        display: flex;
        @media (max-width: 719px) {
          display: none;

        }

        .our_team__menu_container {
          position: static;
          height: fit-content;
          &.our_team__fixed {
            position: fixed;


          }
          &.our_team__bottom {
            position: static;
            align-self: flex-end;

          }
          ul {
            padding: unset;
            color: white;
            list-style: none;
            li {

              font-size: 2rem;
              color: #c5c5c55c;
              font-weight: unset;
              transition: color 0.3s ease, transform 0.3s ease;

              h4 {
                margin: unset;
                font-weight: unset;
                font-size: 2rem;
                @media (min-width: 960px) and (max-width: 1439px) {
                  font-size: 1.8rem;
                }
                @media (min-width: 720px) and (max-width: 989px) {
                  font-size: 1.6rem;

                }
              }
              &.active_step {

                color: #fad10a;
                transform: translate(83px, 0px) scale(1.5);
                font-weight: 500;
                text-shadow: unset;

                transition: color 0.3s ease, transform 0.3s ease;
                &:hover {
                  cursor: unset;
                  color: #fad10a;
                }
                @media (min-width: 960px) and (max-width: 1439px) {
                  transform: translate(20px, 0px) scale(1.2);
                }
                @media (min-width: 720px) and (max-width: 989px) {
                  transform: translate(5px, 0px) scale(1.1);

                }

              }
              &:hover {
                cursor: pointer;
                color: rgba(250, 209, 10, 0.59);
              }
            }
          }

        }
      }
      .our_team__right {
        width: 50%;
        @media (max-width: 719px) {
          width: 100%;

        }
        .our_team__content {
          color: white;

          .scrolling_item {
            padding: 0 1rem;
            height: 20rem;
            @media (max-width: 719px) {
              height: unset;


            }

            h4 {
              margin-bottom: 1.2rem;
              font-size: 1.5rem;
              font-weight: unset;
              color: #fad10a;
              display: none;

              @media (max-width: 719px) {
                display: block;

              }

            }
            p {
              color: #f2f2f280;
            }

          }

        }
      }

    }














  }

  /*

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: -50%;
    transform: translateX(-50%);
    border-right: 100vw solid transparent;
    border-top: 195px solid white ;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-left: 100vw solid transparent;
    border-bottom: 195px solid white ;
  }

   */

}