.services_popup__container {
  margin: 9rem 0;


  @media (min-width: 1440px)  {

  }
  @media (min-width: 960px) and (max-width: 1439px) {

  }
  @media (min-width: 720px) and (max-width: 989px) {

  }
  @media (max-width: 719px) {
    margin: unset;
  }

  .services_popup {
    margin: auto;
    padding-top: 2rem;



    @media (min-width: 1440px)  {
      max-width: 1440px;
    }
    @media (min-width: 960px) and (max-width: 1439px) {
      max-width: 960px;
    }
    @media (min-width: 720px) and (max-width: 989px) {
      max-width: 720px;
    }
    @media (max-width: 719px) {

    }

    h2 {
      text-align: center;
      font-size: 4.5rem;
      margin-bottom: 6.5rem;
      font-weight: unset;
      @media (min-width: 720px) and (max-width: 989px) {
        font-size: 3.5rem;
        line-height: 3.5rem;
      }
      @media (max-width: 719px) {
        font-size: 2.5rem;
        line-height: 3.5rem;



      }


    }
    mark {
      background-color: unset;
      padding: unset;
      font-weight: 500;
    }
    .services_popup__content {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;

      .services_popup__item {


        position: relative;
        justify-content: center;

        transition: box-shadow 0.3s ease;
        aspect-ratio: 1/1;
        padding: 1rem;
        display: flex;
        flex-direction: column;

        width: 24%;


        &.popup_item__yellow {
          .services_popup__title {
            .popup_underline {
              background-color: #fad10a;

            }

          }
          .popup_more_info {
            span {
              background-color: #fad10a;
            }
          }

        }
        &.popup_item__green {
          .services_popup__title {
            .popup_underline {
              background-color: #1c524f5c;

            }

          }
          .popup_more_info {
            span {
              background-color: #1c524f5c;
            }
          }

        }
        &.popup_item__blue {
          .services_popup__title {
            .popup_underline {
              background-color: #b4cce8;

            }

          }
          .popup_more_info {
            span {
              background-color: #b4cce8;
            }
          }

        }




        @media (min-width: 960px) and (max-width: 1439px) {
          width: 50%;
        }
        @media (max-width: 719px) {
          width: 100%;
          padding-top: unset;

          .services_popup__title {
            h3 {
              font-size: 1.5rem !important;
            }
          }
        }
        @media (min-width: 720px) {

          &:hover {
            cursor: pointer;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            &.popup_item__yellow {
              //box-shadow: rgb(250 209 10 / 20%) 0px 2px 8px 0px;
              .services_popup__image {
                img {
                  filter: drop-shadow(2px 2px 1px #fad10a);
                }
              }
            }
            &.popup_item__blue {
              //box-shadow: rgb(180 204 232 / 20%) 0px 2px 8px 0px;
              .services_popup__image {
                img {
                  filter: drop-shadow(2px 2px 1px #b4cce8);
                }
              }
            }
            &.popup_item__green {
             // box-shadow: rgb(28 82 79 / 20%) 0px 2px 8px 0px;
              .services_popup__image {
                img {

                  filter: drop-shadow(2px 2px 1px #1c524f5c);
                }
              }
            }
            .services_popup__image {
              transform: translateY(-15px);
              transition: filter 0.3s ease, transform 0.5s ease;
              img {
                filter: drop-shadow(11px 23px 1px #b4cce8);
                transition: filter 0.3s ease, transform 0.5s ease;
              }
            }


            .services_popup__title {
              h3 {
                transform: translateY(-15px);
              }


              .popup_underline {
                height: 5px;

              }
            }
            .popup_more_info {
              p {
                transform: translateX(26px);
                transition: transform 1s ease;
              }
            }
          }

        }
        .services_popup__image {
          transition: filter 0.3s ease, transform 0.5s ease;
          div {
            overflow: unset !important;
          }
          img {
            transition: filter 0.3s ease, transform 0.5s ease;
            width: 3rem;


          }

        }

        .services_popup__title {
          display: flex;

          h3 {
            transition: filter 0.3s ease, transform 0.5s ease;
            position: relative;
            font-weight: 500;
            margin: unset;


            font-size: 2rem;
            .popup_underline {
              position: absolute;
              bottom: 5px;
              width: 100%;
              height: 0;
              left: 0;
              transition: height 0.5s ease;
              z-index: -1;


            }
          }

          img {
            opacity: 0.7;
          }
        }






        p {

          color: #7b7b7b;
        }

        .popup_more_info {

          position: relative;
          padding: 0 0.8rem;
          display: flex;
          width: fit-content;




          p {
            transform: translateX(0);
            background-color: white;
            transition: transform 1s ease;
            padding: 0 0.5rem;
            z-index: 2;
          }
          span {
            border-radius: 10px;
            z-index: 1;
            position: absolute;
            top: 50%;
            width: 100%;
            background-color: black;
            height: 2px;

          }
        }
      }
    }
  }
}