.trust_bloc__container {
  margin-top: 10rem;
  margin-bottom: 4rem;
  padding-top: 2rem;
  @media (max-width: 719px) {
   margin-bottom: 2rem;
    margin-top: 1rem;

  }



  .trust_bloc {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;

    margin: auto;

    @media (min-width: 1440px)  {
      max-width: 1440px;
    }
    @media (min-width: 960px) and (max-width: 1439px) {
      max-width: 960px;
    }
    @media (min-width: 720px) and (max-width: 989px) {
      max-width: 720px;
    }
    @media (max-width: 719px) {
      padding: 0 1rem;

    }

    h5 {
      font-weight: unset;
      font-size: 1.5rem;
      @media (max-width: 719px) {
        padding: 0 1rem;
        margin-bottom: 1rem;


      }
    }
    .trust_items__container {
      display: flex;
      align-items: center;
      justify-content: space-around;
      @media (max-width: 719px) {
        flex-wrap: wrap;
      }

      .trust_items {
        width: 15rem;
        @media (max-width: 719px) {
          width: 50%;
          padding: 0 1rem;
        }



        img {
          filter: grayscale(1);
          opacity: 0.5;


        }
      }



    }
  }
}