.service_header_bloc {
  display: flex;
  justify-content: space-between;
  padding: 26rem 14rem 0 14rem;
  background-color: #F04D37;

  .header_bloc__left {
    width: 50%;
    margin: 0 30px;
    height: 100%;

    h1 {
      font-weight: 400;
      font-size: 6.5rem;
      line-height: 6.5rem;
      margin: unset;
      color: #fbc4c4;
    }
    p {
      color: white;
      font-size: 1.5rem;
      line-height: 2.5rem;
    }
  }
  .header_bloc__right {
    width: 50%;
    margin: 0 30px;

    img {
      width: 100%;
    }
  }
}