.main_info__container {
  margin-top: 10rem;
  @media (min-width: 960px) and (max-width: 1439px) {
    margin-top: 4rem;

  }
  @media (min-width: 720px) and (max-width: 989px) {
    margin-top: 4rem;
  }
  @media (max-width: 719px) {
    margin-top: 4rem;

  }

  &.center_none {
    .main__info {
      align-items: unset;
    }

  }

  &.custom_itineraire__background {

    margin-top: unset;

    @media (min-width: 960px) and (max-width: 1439px) {
      padding-top: 4rem;

    }
    @media (min-width: 720px) and (max-width: 989px) {
      padding-top: 4rem;
    }
    @media (max-width: 719px) {
      padding-top: 4rem;

    }
  }

  &.custom_medtandem__background {
    background-color: #E7EFFB;
    margin-top: unset;
    padding-top: 10rem;
  }

  &.custom_trendcorner__background {
    background-color: #222222;
    margin-top: unset;

    .main__info {

      .text_info__container {
        padding-top: 9rem;
        padding-bottom: 8rem;
        h2 {
          color: white;
        }
        p {
          color: white;
        }
      }
    }

  }
  .main__info__image__long {
    position: relative;
    width: 100%;
    height: auto;
    aspect-ratio: 381/119;

  }
  .main__info__image__long__itineraire1 {
    position: relative;
    margin: auto;


    width: 80%;


    aspect-ratio: 75/67;
    @media (max-width: 719px) {
      width: 90%;

    }


  }
  .main__info__image__long__itineraire2 {
    position: relative;
    margin: 6rem 0 0rem 0;
    width: 100%;
    aspect-ratio: 10/7;
    @media (min-width: 960px) and (max-width: 1439px) {
      margin: 5rem 0 0rem 0;

    }
    @media (min-width: 720px) and (max-width: 989px) {
      margin: 3rem 0 0rem 0;
    }
    @media (max-width: 719px) {
      margin: 2rem 0 0rem 0;

    }


  }
  .main__info__image__long__medtandem{
    position: relative;
    width: 100%;
    height: auto;
    aspect-ratio: 127/71;

  }
  .main__info__image__long__medtandem_2 {
    position: relative;
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
  }
  .main__info {
    padding: 0 2rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: 1440px)  {
      max-width: 1440px;
    }
    @media (min-width: 960px) and (max-width: 1439px) {
      max-width: 960px;

    }
    @media (min-width: 720px) and (max-width: 989px) {
      max-width: 720px;
    }
    @media (max-width: 719px) {


    }
    .text_info__container {
      display: flex;
      flex-direction: column;

      &.developpement__text_info {
        .text__bloc {
          .developpement__big_title {
            font-size: 4.5rem;
            line-height: 4.5rem;
            font-weight: unset;
            @media (min-width: 720px) and (max-width: 989px) {
              font-size: 3.5rem;
              line-height: 3.5rem;
            }
            @media (max-width: 719px) {
              font-size: 2.1rem;
              line-height: 2.1rem;

            }

          }
          .developpement__big_text {
            font-size: 1.3rem;
            line-height: 2rem;
            @media (min-width: 960px) and (max-width: 1439px) {
              font-size: 1.2rem;
              line-height: 2rem;


            }
            @media (min-width: 720px) and (max-width: 989px) {
              font-size: 1.2rem;
              line-height: 2rem;
            }
            @media (max-width: 719px) {
              font-size: 1.1rem;
              line-height: 1.6rem;


            }


          }
          h2 {
            font-size: 2.5rem;
            @media (min-width: 720px) and (max-width: 989px) {
              font-size: 1.7rem;
              line-height: 1.7rem;
            }
            @media (max-width: 719px) {
              font-size: 1.5rem;
              line-height: 1.8rem;

            }

          }
        }

      }

      &.itineraire__text_info {
        .text__bloc {
          padding: 10rem 0 7rem 0;
          @media (min-width: 960px) and (max-width: 1439px) {

            padding: 2rem 0 3rem 0;
          }
          @media (min-width: 720px) and (max-width: 989px) {
            padding: 0rem 0 1rem 0;
          }
          @media (max-width: 719px) {
            padding: 0rem 0 0rem 0;

          }

        }

      }
      &.itineraire__text_info2 {
        .text__bloc {
          padding: 10rem 0 0rem 0;
          @media (min-width: 960px) and (max-width: 1439px) {
            padding: 7rem 0 0rem 0;

          }
          @media (min-width: 720px) and (max-width: 989px) {
            padding: 5rem 0 0rem 0;
          }
          @media (max-width: 719px) {
            padding: 4rem 0 0rem 0;

          }

        }

      }
      .text__bloc {
        margin-bottom: 3rem;
        display: flex;
        flex-direction: column;
        max-width: 750px;
        @media (min-width: 720px) and (max-width: 989px) {
          max-width: 720px;
        }







        h2 {
         margin: 0 0 1rem 0;
          font-size: 3rem;
          font-weight: unset;
          line-height: 3.5rem;
          @media (min-width: 960px) and (max-width: 1439px) {
            font-size: 2.2rem;
            line-height: 2.8rem;


          }
          @media (min-width: 720px) and (max-width: 989px) {
            font-size: 2rem;
            line-height: 2.5rem;
          }
          @media (max-width: 719px) {
            font-size: 1.8rem;
            line-height: 2.1rem;

          }

        }
        p {
          font-size: 1.2rem;
          line-height: 2rem;
          @media (min-width: 960px) and (max-width: 1439px) {
            font-size: 1.1rem;
            line-height: 1.6rem;


          }
          @media (min-width: 720px) and (max-width: 989px) {
            font-size: 1rem;
            line-height: unset;
          }
          @media (max-width: 719px) {
            font-size: 1rem;
            line-height: 1.6rem;


          }
        }
        a {
          text-decoration: underline;
          transition: opacity 0.3s ease;
          &:hover {
            opacity: 0.6;
          }
          &.text__bloc__white_link {
            color: white;
          }
        }
        .techno_logo__container {

          display: flex;
          align-items: center;

          .joomla_logo {
            width: 12rem;
            margin: 1rem 0;
            @media (min-width: 960px) and (max-width: 1439px) {
              width: 10rem;


            }
            @media (min-width: 720px) and (max-width: 989px) {
              width: 10rem;
            }
            @media (max-width: 719px) {
              width: 10rem;


            }
          }
          .mongo_logo {
            width: 4rem;
            margin: 1rem 0rem 1rem 1rem;
            @media (min-width: 960px) and (max-width: 1439px) {
              width: 3.5rem;


            }
            @media (min-width: 720px) and (max-width: 989px) {
              width: 3.5rem;
            }
            @media (max-width: 719px) {
              width: 3.5rem;


            }
          }
          .react_logo {
            width: 3.5rem;
            margin: 1rem 1rem 1rem 0rem;

            @media (min-width: 960px) and (max-width: 1439px) {
              width: 3rem;


            }
            @media (min-width: 720px) and (max-width: 989px) {
              width: 3rem;
            }
            @media (max-width: 719px) {
              width: 3rem;


            }
          }
          .nodejs_logo {

            width: 5.5rem;
            margin: 1rem 0;
            @media (min-width: 960px) and (max-width: 1439px) {
              width: 3rem;


            }
            @media (min-width: 720px) and (max-width: 989px) {
              width: 3rem;
            }
            @media (max-width: 719px) {
              width: 3rem;


            }
          }
          .expressjs_logo__white {
            width: 5.5rem;
            filter: invert(1);
            margin: 1rem 0 1rem 1rem;
            @media (min-width: 960px) and (max-width: 1439px) {
              width: 3rem;


            }
            @media (min-width: 720px) and (max-width: 989px) {
              width: 3rem;
            }
            @media (max-width: 719px) {
              width: 3rem;


            }
          }
          .ruby_logo {
            width: 4rem;
            margin: 1rem 0;
            @media (min-width: 960px) and (max-width: 1439px) {
              width: 3rem;


            }
            @media (min-width: 720px) and (max-width: 989px) {
              width: 3rem;
            }
            @media (max-width: 719px) {
              width: 3rem;


            }
          }
          .rails_logo {
            width: 5.5rem;
            margin: 1rem 0 1rem 1rem;
            @media (min-width: 960px) and (max-width: 1439px) {
              width: 3rem;


            }
            @media (min-width: 720px) and (max-width: 989px) {
              width: 3rem;
            }
            @media (max-width: 719px) {
              width: 3rem;


            }
          }
          .wordpress_logo__white {
            width: 4.5rem;
            filter: invert(1);
            margin: 1rem 0 1rem 1rem;
            @media (min-width: 960px) and (max-width: 1439px) {
              width: 3.5rem;


            }
            @media (min-width: 720px) and (max-width: 989px) {
              width: 3.5rem;
            }
            @media (max-width: 719px) {
              width: 3.5rem;


            }
          }
          .stimulus_logo {
            width: 2.7rem;
            margin: 1rem 0 1rem 1rem;
            @media (min-width: 960px) and (max-width: 1439px) {
              width: 2.5rem;


            }
            @media (min-width: 720px) and (max-width: 989px) {
              width: 2.5rem;
            }
            @media (max-width: 719px) {
              width: 2.5rem;


            }
          }
        }

        .trend_corner__techno {
          width: 12rem;
          margin: 1rem 0;
          @media (min-width: 960px) and (max-width: 1439px) {
            width: 10rem;


          }
          @media (min-width: 720px) and (max-width: 989px) {
            width: 10rem;
          }
          @media (max-width: 719px) {
            width: 10rem;


          }
        }

      }
    }

    .main__info__image {
      position: relative;
      width: 100%;
      height: auto;
      aspect-ratio: 3/2;
      margin-top: 6rem;
      @media (min-width: 720px) and (max-width: 989px) {
        margin-top: 1rem;
      }
      @media (max-width: 719px) {
        margin-top: 1rem;


      }


    }
    .main__info__double_image {
      display: flex;
      width: 100%;

      .medtandem_desktop {
        width: 70%;

      }
      .medtandem__mobile {
        width: 24%
      ;

      }

    }

  }
}