.navbar_top {
  position: fixed;
  top: 0;

  width: 100%;
  transition: top 0.8s ease;
  z-index: 10;

  &.navbar_top__mobile {
    transition: top 0.35s;

    &.navbar_translate {
      top: -16rem;
      transition: top 0.35s;
    }
  }


  &.burger_menu_size {
    height: -webkit-fill-available;;
  }


  &.navbar_translate {
    top: -16rem;
    transition: top 1s ease;
  }

}