

.speed_fade_in {
  position: relative;
  overflow-x: hidden;
  overflow-y: visible;



  @media (min-width: 1440px)  {
    height: 76rem;
  }
  @media (min-width: 960px) and (max-width: 1439px) {
    height: 72rem;
  }
  @media (min-width: 720px) and (max-width: 989px) {
    height: 71rem;
  }
  @media (max-width: 719px) {
    height: 90rem;

  }

  &.custom_service_header {
    height: 44rem;

    @media (min-width: 960px) and (max-width: 1439px) {
      height: 38rem;
    }
    @media (min-width: 720px) and (max-width: 989px) {
      height: 47rem;
    }
    @media (max-width: 719px) {
      height: 27rem;

    }

  }
  &.custom_siteweb_header {
    height: 68rem;

    @media (min-width: 960px) and (max-width: 1439px) {
      height: 62rem;
    }
    @media (min-width: 720px) and (max-width: 989px) {
      height: 67rem;
    }
    @media (max-width: 719px) {
      height: 85rem;

    }

  }

  &.custom_webapp_header {
    height: 78rem;
    @media (min-width: 960px) and (max-width: 1439px) {
      height: 62rem;
    }
    @media (min-width: 720px) and (max-width: 989px) {
      height: 67rem;
    }
    @media (max-width: 719px) {
      height: 85rem;

    }

  }



.speed_fade_in__content {
  width: 100%;
  position: absolute;
  opacity: 0;
  transform: translateX(20px);
  &.isFadeIn {
    opacity: 1;
    transform: translateX(0px);
    transition: opacity 0.05s ease, transform 0.3s ease;
  }
}
}